body{
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      color: #000000;
      margin: 0;
      padding: 0;
      position: relative;
      background-color: #f0faff;
}
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black:200');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:500');
h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 32px;
    font-weight: lighter;
    color: #162a67;
}
    /*background: -webkit-linear-gradient(#5493c6 35%, #162a67);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
a{
  color:transparent;
}*/
h2 {
      color: #162a67;
      font-size: 23px;
      font-family: 'Archivo Black', sans-serif;
}
h3 {
      color: #162a67;
      font-size: 18px;
      font-family: 'Archivo Black', sans-serif;
}
.blue_background {
      background-color: #f0faff;
}
.transparentblue_background {
       background: #dcebf3c9;
;
}
.color_background {
    background: radial-gradient(#ffef9a 1%, #f1be95 20%, #eb9c9d 40%, #393ecd);
}
.full-width{
      width:100%;
}
.logo-text{
     font-family: 'Open Sans', sans-serif;
      float: left;
      font-size: 80%;
      font-weight: 400;
      color:#f0f8ff;
}
.logo-text:hover {
    color: #ffe75a;
}
.logo-icon{
      height: 100%;
      float: left;
}
.navbar-brand{     
    font-size: 250%;
    line-height: 1em;
    padding: 0;
  }
.navbar{ margin-bottom:0; }
.margin-top {margin-top:10px;}
.navbar{    background-color: #162a67;
    border-radius: 0;
    border: 0;
  }
* { box-sizing: border-box;}

.intro-image{
      width: 100%;
      min-height: 300px;
      background-image: url(../images/HomeBrain_background2.png), -webkit-radial-gradient(center,550px 300px,#ffffff 0%,#45a6bb,#071620);
      background-image: url(../images/HomeBrain_background2.png),radial-gradient(550px 300px at center,#ffffff 0%,#45a6bb,#071620);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /*background-image: url(../images/HomeBrain_background2.png), -webkit-radial-gradient(center,550px 300px,#f2f3f4 0%,#24869c,#071620);
      background-image: url(../images/HomeBrain_background2.png),radial-gradient(550px 300px at center,#f2f3f4 0%,#24869c,#071620);
      background: radial-gradient(farthest-corner at 40% 75%,#ffef9a 1%, #f1be95 20%, #eb9c9d 40%, #393ecd);
      /*background: radial-gradient(farthest-corner at 50% 65%,#ffef9a 5%, #6bb1e0 65%,#22527b 95%);
      background: radial-gradient(farthest-corner at 40% 75%,#ffef9a 1%, #52a6de 45%,#654c8e 95%); 
      /*background: radial-gradient(farthest-corner at 40% 75%,#bb4fcfba 15%, #280eadf0 100%);*/
}
.intro-text{
      font-family: 'Archivo Black', sans-serif;
      font-size: 35px;
      color: #000000;
      text-align:center;
}
/*@media (max-width: 1199px){
      .intro-text{
            margin-top: 13%; 
      }
}
@media (max-width: 992px){
      .intro-text{
            margin-top: 23%; 
      }
}
@media (max-width: 767px){
      .intro-text{
            margin-top: 0; 
            text-align:center;
      }
}*/
#navbar2 .navbar-header {
    float: none;
}

#navbar2 .navbar-toggle {
    display: block;
}

#navbar2 .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
}

#navbar2 .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

#navbar2 .navbar-form {
    float: none !important;
    padding: 0;
}

#navbar2 .navbar-nav>li {
    float: none;
}
.page-icon{
      background-color: #6324c7f0;
      background: radial-gradient(farthest-corner at 40% 75%,#bb4fcf 15%, #280eadf0 100%);
      border-radius: 1000px;
      background: radial-gradient(farthest-corner at 40% 75%,#5493c6 15%, #162a67 100%);
 }
 img.img-responsive.center-block.page-icon:hover {
    background: #162a67;
}
.home {
      position: relative;
      display: inline-block;
      text-align: center;
      margin: 30px 10%;
      width: 80%;
}
.home .img-bottom {
      width:100%;
}
.home .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width:100%;
}
.home:hover .img-top {
    display: inline;
}

/* Reposition elements affected by the sliding menu */
#wrapper {
    position: relative;
    right: 0;
    transition: right 0.35s ease;
}

#navbar2 .navbar-collapse {
    position: fixed;
    top: 0;
    right: -30%;
    display: block;
    width: 30%;
    height: 100% !important;
    /*max-height: 100%;*/
    margin: 0;
    background-color: #f8f8f8;
    transition: right 0.35s ease;
}

#navbar2 .navbar-collapse.collapsing {
    transition: right 0.35s ease;
}

#navbar2 .navbar-collapse.in {
    right: 0;
}

body.menu-slider.in {
    overflow: hidden;
}

body.menu-slider #wrapper {
    transition: right 0.35s ease;
}

body.menu-slider.in #wrapper {
    right: 30%;
}
.navbar-toggle {
    margin: 0;
    padding: 16px 20px 17.5px 10px;
}
.navbar-default .navbar-nav>li>a {
    color: #f0f8ff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
      color: #ffe75a;
  }
.navbar-default .navbar-toggle {
      border-color: transparent;
      background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent; 
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f0f8ff;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffe75a;
    text-shadow: 0 0 3px #000000;
}
i.fa {
    color: #f0f8ff;
}
@media (max-width: 979px) {
  .navbar-brand { font-size: 250%; }
  /*p {width: 500px; margin: auto;}*/
  .navbar-default .navbar-nav > li > a {
    font-size: 85%;
    padding-top: 20px;
    padding-bottom: 10px;
    }
  } 
/* Dropdown on hover fix */
li.dropdown:hover > .dropdown-menu {
    display: block;
}
@media only screen and (max-width: 992px){
    h2{
        font-size: 23px;
    }
}
@media only screen and (max-width: 767px){
  body{
      font-size: 13px;
  }
  h1{
      font-size: 27px;
  }
  h2 {
      font-size: 20px;
  }
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000000;
}
@media (max-width: 979px){}

.navbar-default .navbar-nav > li > a {
    font-size: 90%;
    padding-top: 20px;
    padding-bottom: 10px;
}
@media (max-width: 767px){
      /*.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > div {
                  color: #162a67;
                  background-color: #f0f8ff;
                  font-size: 100%;
                  border-bottom: 0.5px solid #162a67;
      }
      .navbar-default .navbar-nav > li > a {
            padding: 15px;
      }
      .navbar-nav {
          margin: 0 -15px;
      }
      .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
                background-color: #ffe75a;
	    color: #162a67;
	    font-weight: 600;
      }
      .social ul li a i {
          color: #162a67;
      }*/
      .social ul {
            padding: 10px 20px;
            font-size: 150%;
            margin-top: -1px;
            text-align: right;
      }
}
ul.nav.nav-pills.nav-stacked.small-topbottom-space {
    width: 160px;
    position: fixed;
}
@media (min-width: 768px){
      .social ul { 
            padding: 15px 0 5px 15px;
      }
}
.top-space{
  margin-top:10px;
}
.large-top-space {
  margin-top:30px;
}
.large-top-padding {
  padding-top:30px;
}
.bottom-space{
  margin-bottom:15px;
}
.large-bottom-space {
  margin-bottom:30px;
}
.small-topbottom-space {
      margin-top:5px;
      margin-bottom:5px;
}
.topbottom-space {
      margin-top:15px;
      margin-bottom:15px;  
}
.minus-topbottom-space {
      margin-top:15px;
      margin-bottom:15px;  
}
.large-topbottom-space {
      margin-top:30px;
      margin-bottom:30px;  
}
.large-bottom-padding {
      padding-bottom:30px;  
}
.topbottom-padding {
      padding-top:15px;
      padding-bottom:15px;  
}
.side-space{
      margin-left:15px;
      margin-right:15px;  
}
.side-padding{
      padding-left:15px;
      padding-right:15px;  
}
.zero-margin {
  margin: 0;
}
.zero-padding{
  padding: 0;
}
.vcenter{
        align-items: center;  
}
@media (min-width:768px){
      .vcenter {
        display: flex;
      }
}
@media (max-width:767px){
      .vcenter {
        display: inline-block;
      }  
}

.footer {
      background-color: #162a67;
      color: #f0f8ff;
      font-size: 80%;
      padding: 5px;
      width: 100%;
      text-align: center;
}

.social ul li {
      text-align: right;
      display: inline-block;
      list-style: outside none none;
      margin: 5px;
}
.social i:hover{ color: #ffe75a; }

/*Responsive Featured Product Display*/

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

.carousel-col:hover .carouseloverlay {
  opacity: 1;
}

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .active.right { left: 100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		     { left: -100%; }
  .carousel-col                { width: 100%; }
  .carouseloverlay { margin: .75%;}
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carouseloverlay { margin: 1.5%;}
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carouseloverlay { margin: 2%;}
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carouseloverlay { margin: 2%;}
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}
.carouseloverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.carouseltext a{
      color: #ffffff;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      text-align: center;
}


/*Category Page */
.category_background {
    background: url(../images/catergory_background1.png) repeat center center fixed, linear-gradient(to left, #071620 0%, #45a6bb 10%, #ffffff 40%, #ffffff 60%, #45a6bb 90%, #071620 100%);
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
@media (max-width: 767px) {
.category_background {
	background: url(../images/catergory_background2.png) repeat center center fixed, linear-gradient(to left, #071620 0%, #45a6bb 20%, #ffffff 50%, #45a6bb 80%, #071620 100%);
	    -moz-background-size: 100%;
	    -o-background-size: 100%;
	    background-size: 100%;
	}
}
.category_title {
      background: #dcebf3c9;
      border-bottom: 1px solid #162a67;
}
@media (min-width: 768px) {
      .left-blue-border{
            border-left: 1px solid #162a67;
      }
}
.category_background {
      /*background: linear-gradient(to left, #393ecd 0%, #eb9c9d 10%, #f1be95 20%, #ffef9a 30%, #ffef9a 70%, #f1be95 80%, #eb9c9d 90%, #393ecd 100%);*/
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #ffffff;
    background-color: #162a67;
}
.nav>li>a:focus, .nav>li>a:hover, nav#myScrollspy ul li a:focus, nav#myScrollspy ul li a:hover {
       background-color: #ffffff;
        color: #162a67;
}
a {
    color: #162a67;
}
.morecontent {
  display: none;
}
.col-lg-10.col-sm-9.topbottom-padding.left-blue-border {
      padding-bottom: 350px;
}
/*.borderimage{
      border: 10px solid transparent;
      -webkit-border-image: url(../images/borderimage.png) round; /* Safari 3.1-5 /
      -o-border-image: url(../images/borderimage.png) round; /* Opera 11-12.1 /
      border-image: url(../images/borderimage.png) round;
      border-image-slice: 0% 50%;
      border-width: 0 35px;
}*/